<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>login</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/auth/login">Login</a></li>
            <li><a href="/profile">Profile</a></li>
        </ul>
    </nav>
    <main>
        <h2>Login with</h2>
        <a href="/auth/google">Google</a>
        <a href="/auth/facebook">Facebook</a>
        <a href="/auth/linkedin">LinkedIn</a>
        <a href="/auth/twitter">Twitter</a>
        <a href="/auth/github">Github</a>
    </main>
</body>
</html>